*{
    margin: 0%;
    padding: 0%;
    width: 1030px;
    height: 40px;
    font-family: sans-serif;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    

}

td{
    border: 2px solid #000000;
}

th,td{
    padding: 5px;
    margin: 5px;
    
    
}
/* table  {
    border-spacing: 30px;
  } */

  #puja{
    /* border-spacing: 30px; */
    padding-top: 10px;
    width: 795px;
    margin-left: 127px;
    /* color: hwb(0 28% 6% / 0.969); */
    
  }

  